---
const { variant = "primary" } = Astro.props;

const buttonStyling = "rounded-full px-4 p-1.5";

const variantClasses = {
  primary:
    "font-semibold bg-farvenavn-accent text-farvenavn-primaryLight border-[3px] border-transparent hover:bg-farvenavn-primaryLight  hover:border-farvenavn-accent hover:text-farvenavn-accent",
  secondary:
    "font-semibold bg-farvenavn-primary text-farvenavn-primaryLight border-[3px] border-transparent hover:bg-farvenavn-primaryLight  hover:border-farvenavn-primary hover:text-farvenavn-primary",
};
---

<button class:list={[buttonStyling, variantClasses[variant]]}><slot /></button>
