---

---

<div
  class="max-w-full mx-auto text-white bg-farvenavn-accent text-farvenavn-primaryLight"
>
  <div class="mx-14 lg:grid lg:grid-cols-3 lg:mx-20 lg:pt-6">
    <section class="w-[90%]">
      <h2 class="text-h3text py-6">Om os</h2>
      <p class="leading-none pb-4">
        Rosenørns Allé 29 <br />
        1970 Frederiksberg<br />
        Danmark
      </p>
      <p class="pb-4">CVR: 3491162</p>
      <a
        href="https://dk.trustpilot.com/review/www.hojskolendk.dk"
        target="_blank"><p class="pb-4">Trustpilot</p></a
      >
      <p class="pb-4 leading-none">
        <a
          href="https://www.hojskolendk.dk/tilmeld/generelle-bestemmelser/"
          target="_blank">Handelsbetingelser,</a
        >
        <a
          href="https://www.hojskolendk.dk/tilmeld/generelle-bestemmelser/cookies/"
          target="_blank">Cookiepolitik,</a
        >
        <a
          href="https://www.hojskolendk.dk/tilmeld/generelle-bestemmelser/privatlivspolitik/"
          target="_blank">Data- & privatlivspolitik</a
        >
      </p>
      <p class="pb-4 leading-none">
        HöJSKOLENDK er medlem af <a
          href="https://www.rejsegarantifonden.dk/"
          target="_blank">Rejsegarantifonden</a
        >
      </p>
      <p class="pb-4">Copyright © HöJSKOLENDK 2024</p>
    </section>
    <section class="w-[90%]">
      <h2 class="text-h3text py-6">Kontakt os</h2>
      <p class="pb-4">Tel. +45 70 27 90 07</p>
      <p class="leading-none pb-4">
        Åbningstider: <br />Man-Fre: kl. 10:00-16:00
      </p>
      <p class="pb-4">Mail: info@hojskolendk.dk</p>
      <div class="flex gap-4">
        <a href="https://www.facebook.com/hojskolendk/" target="_blank"
          ><img src="/src/assets/images/facebook.svg" alt="" /></a
        ><a href="https://www.instagram.com/hojskolendk/" target="_blank"
          ><img src="/src/assets/images/insta.svg" alt="" /></a
        ><a href="https://www.youtube.com/user/HOJSKOLENDK" target="_blank"
          ><img src="/src/assets/images/youtube.svg" alt="" /></a
        ><a
          href="https://www.linkedin.com/company/h-jskolen-dk/"
          target="_blank"
        >
          <img src="/src/assets/images/tiktok.svg" alt="" /></a
        ><a href="https://www.tiktok.com/@hojskolendk" target="_blank">
          <img src="/src/assets/images/linkedin.svg" alt="" /></a
        >
      </div>
    </section>
    <section class="w-[90%]">
      <h2 class="text-h3text py-10 lg:py-6">Samarbejdspartnere</h2>
      <div class="grid grid-cols-2">
        <img
          src="/src/assets/images/rejsefondenlogosvg.svg"
          alt=""
          class="lg:w-[12vw]"
        /><img
          src="/src/assets/images/jyskrejssvg.svg"
          alt=""
          class="lg:w-[12vw]"
        /><img
          src="/src/assets/images/gouda-logo.svg"
          alt=""
          class="lg:w-[12vw]"
        /><img
          src="/src/assets/images/verdensskovelogo.svg"
          alt=""
          class="lg:w-[12vw]"
        />
      </div>
    </section>
  </div>
  <img
    src="/src/assets/images/hojskolen_logo_footer.svg"
    alt=""
    class="p-2 py-12"
  />
</div>
