---

---

<div
  class="max-w-full mx-auto text-white bg-farvenavn-accent text-farvenavn-primaryLight"
>
  <div class="grid grid-cols-2 lg:grid lg:grid-cols-3 mx-20 pt-6">
    <section class="w-[90%]">
      <h2 class="text-h3text py-6">Om os</h2>
      <p class="leading-none pb-4">
        Rosenørns Allé 29 <br />
        1970 Frederiksberg<br />
        Danmark
      </p>
      <p class="pb-4">CVR: 3491162</p>
      <p class="pb-4">Trustpilot</p>
      <p class="pb-4">
        Handelsbetingelser, Cookiepolitik, Data- & privatlivspolitik
      </p>
      <p class="pb-4">HöJSKOLENDK er medlem af Rejsegarantifonden</p>
      <p class="pb-4">Copyright © HöJSKOLENDK 2022</p>
    </section>
    <section class="w-[90%]">
      <h2 class="text-h3text py-6">Kontakt os</h2>
      <p class="pb-4">Tel. +45 70 27 90 07</p>
      <p class="pb-4">Åbningstider: Man-Fre: kl. 10:00-16:00</p>
      <p class="pb-4">Mail: info@hojskolendk.dk</p>
      <div class="flex gap-4 mt-2">
        <img src="/src/assets/images/facebook.svg" alt="" /><img
          src="/src/assets/images/insta.svg"
          alt=""
        /><img src="/src/assets/images/youtube.svg" alt="" /><img
          src="/src/assets/images/tiktok.svg"
          alt=""
        /><img src="/src/assets/images/linkedin.svg" alt="" />
      </div>
    </section>
    <section class="w-[90%]">
      <h2 class="text-h3text py-6">Samarbejdspartnere</h2>
      <div class="grid grid-cols-2">
        <img
          src="/src/assets/images/rejsefondenlogosvg.svg"
          alt=""
          class="w-[12vw]"
        /><img
          src="/src/assets/images/jyskrejssvg.svg"
          alt=""
          class="w-[12vw]"
        /><img
          src="/src/assets/images/gouda-logo.svg"
          alt=""
          class="w-[12vw]"
        /><img
          src="/src/assets/images/verdensskovelogo.svg"
          alt=""
          class="w-[12vw]"
        />
      </div>
    </section>
  </div>
  <img
    src="/src/assets/images/hojskolen_logo_footer.svg"
    alt=""
    class="p-2 py-12"
  />
</div>
