---

---

<div class="bg-farvenavn-primaryLight sticky top-0 z-50">
  <div
    class="max-w-screen-xl mx-auto flex items-center justify-between text-white py-4 px-6"
  >
    <div class="flex items-center">
      <h4 class="text-lg text-maintext">Logo</h4>
    </div>

    <nav id="desktopmenu">
      <ul class="flex space-x-6 uppercase">
        <li>
          <a href="" class="">Destinationer</a>
        </li>
        <li><a href="" class="">Om Os</a></li>
        <li><a href="" class="">Tilmeld dig</a></li>
        <li><a href="" class="">Infomøder</a></li>
        <li><a href="" class="">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</div>
