---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
---

<div class="bg-farvenavn-primaryLight fixed top-0 z-50 w-full">
  <div
    class="max-w-screen-xl mx-auto flex items-center justify-between text-white py-4"
  >
    <div class="flex">
      <div>
        <h4 class="font-semibold text-h3text text-farvenavn-accent">
          HöJSKOLENDK
        </h4>
        <p class="text-maintext text-farvenavn-detailDark ml-2">
          Skab minder, der varer evigt!
        </p>
      </div>
      <div class="flex justify-center items-center">
        <Image src={logo} alt="logo" class="rounded-lg" />
      </div>
    </div>
    <nav id="desktopmenu">
      <ul class="flex space-x-6 uppercase">
        <li>
          <a href="" class="">Destinationer</a>
        </li>
        <li><a href="" class="">Om Os</a></li>
        <li><a href="" class="">Tilmeld dig</a></li>
        <li><a href="" class="">Infomøder</a></li>
        <li><a href="" class="">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</div>
