---
import { Image } from "astro:assets";
import logoheader from "../assets/images/logoheader.png";
---

<div class="bg-farvenavn-primaryLight fixed top-0 z-50 w-full">
  <div
    class="max-w-screen-xl mx-auto flex items-center justify-between text-white py-4 px-6"
  >
    <div class="flex flex-col items-start">
      <Image
        src={logoheader}
        alt="logo"
        class="absolute inset-0 rounded-lg w-2/12 ml-8 mt-2"
      />
    </div>

    <nav id="desktopmenu">
      <ul class="flex space-x-6 uppercase">
        <li>
          <a href="" class="">Destinationer</a>
        </li>
        <li><a href="" class="">Om Os</a></li>
        <li><a href="" class="">Tilmeld dig</a></li>
        <li><a href="" class="">Infomøder</a></li>
        <li><a href="" class="">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</div>
