---

---
<section class="relative h-svh w-full">
  <video
    autoplay
    loop
    muted
    class="absolute top-0 left-0 object-cover rounded-lg mx-10 w-[95%]"
  >
    <source src="video.mp4" type="video/mp4"/>
  </video>

  <div class="relative top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center">
    <div>
      <h1 class="text-farvenavn-primaryLight text-herotext font-bold">
        Skab minder, der varer evigt!
      </h1>
    </div>
    <div>
      <h3 class="text-farvenavn-primaryLight text-h3text">
        Eventyrlige højskoleophold i udlandet for unge
      </h3>
    </div>
  </div>
</section>
