---

---

<div class="relative h-screen w-full">
  <video
    autoplay
    loop
    muted
    class="absolute top-0 left-0 w-full h-full object-cover rounded-lg"
  >
    <source src="video.mp4" type="video/mp4" />
  </video>

  <div class="absolute top-0 left-0 w-full h-full"></div>

  <div class="relative flex items-center justify-center h-full">
    <h1 class="">Skab minder, der varer evigt!</h1>
    <h3 class="">Eventyrlige højskoleophold i udlandet for unge</h3>
  </div>
</div>
