---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
---

<h2>Se vores galleri</h2>
<p>Venner for livet på dit eventyr</p>
<div class="flex justify-center">
  <Image src={logo} alt="logo" />
</div>
