---
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
---

<h2 class="text-h2text">Følg med på Instagram!</h2>
<div class="flex justify-center">
  <Image src={logo} alt="logo" />
</div>
