---
import Logo from "../components/Logo.astro";
---

<h2 class="text-h2text text-center text-3xl font-semibold mb-8">
  Se vores galleri
</h2>
<p class="text-maintext text-center">Venner for livet på dit eventyr</p>
<Logo />
