---

---

<h2>Kort om os!</h2>
<section class="pb-40 sm:grid grid-cols-2 lg:ml-0 load">
  <div>
    <h3>Rejsehøjskole</h3>
    <p class="">
      Der venter dig et unikt rejseeventyr når du tager på højskole i udlandet.
      Du får et tæt fællesskab til de andre unge og helt fantastiske
      rejseoplevelser. Med højskolens kerneværdier, fællesskab og dannelse, kan
      du på en udlands-højskole bruge rejsedagene på frivilligt arbejde,
      eventyr, afslapning ved smukt vand, vilde naturoplevelser eller personlig
      udvikling med sprog, selvtillid og selvindsigt.
    </p>
    <h4>Fællesskab</h4>
    <p>
      På opholdet vil du møde nye bedste venner og opleve et fantastisk
      fællesskab. I vil som gruppe opbygge stærkt sammenhold, hvor
      undervisningen fokuserer på fællesskab og at rykke grænser. Det har
      hjulpet mange tidligere selv-udkårne "introverte" elever med personlig
      udvikling og at komme ud af deres skal. Alle rejsepakker starter med 3-5
      introdage, hvor I som gruppe rystes godt og grundigt sammen. Introdagene
      er altid sjove og fyldt med grin og aktiviteter.
    </p>
    <h4>Tryghed</h4>
    <p>
      Når du rejser med HöJSKOLENDK kan du være tryg og nyde din rejse. Alle
      vores pakkerejser er forsikret og du har altid mulighed for at snakke med
      din rejsevejleder, eller at trække dig, hvis du har brug for tid alene.
      Alle rejsevejledere snakker dansk og vil kunne fungere som en
      storesøskende og hjælpe med personlige eller undervisning.
    </p>
  </div>
  <div class="pl-10 sm:pt-28 lg:pt-40 lg:pl-0">
    <img src="" alt="bilde" />
  </div>
</section>
