---
import Button from "../components/Button.astro";
---

<section class="pb-32 flex flex-col items-center">
  <h1 class="text-h1text font-semibold text-center">
    ”Min rejse med Höjskolendk er noget af det bedste jeg har gjort for mig
    selv!”
  </h1>

  <div class="max-w-xl pt-5">
    <a href="#"><Button variant="primary">Tilmeld dig infomøde</Button></a>
  </div>
</section>
