---
import { Image } from "astro:assets";
import Logo from "../components/Logo.astro";
import pic1 from "../assets/images/insta1.webp";
import pic2 from "../assets/images/insta2.webp";
import pic3 from "../assets/images/insta4.webp";
import pic4 from "../assets/images/insta4.webp";
import pic5 from "../assets/images/insta5.webp";
import pic6 from "../assets/images/insta6.webp";
import pic7 from "../assets/images/insta7.webp";
import pic8 from "../assets/images/insta8.webp";
import pic9 from "../assets/images/insta9.webp";
---

<h2 class="text-h2text text-center">Følg med på Instagram!</h2>
<Logo />

<div class="flex items-center justify-center mx-[252px]">
  <div class="grid grid-cols-3 gap-3">
    <article class="group relative">
      <a href="https://www.instagram.com/hojskolendk/" target="_blank">
        <img
          src="../src/assets/images/insta1.webp"
          alt="insta"
          class="rounded-lg transition duration-300 group-hover:opacity-70"
        />
        <div
          class="absolute inset-0 bg-farvenavn-accent opacity-0 transition-opacity duration-300 group-hover:opacity-50 rounded-lg"
        >
        </div>
        <div
          class="absolute bottom-20 left-1/2 transform -translate-x-1/2 text-farvenavn-detailLight font-semibold text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          59
        </div>
      </a>
    </article>
    <article class="group relative">
      <a href="https://www.instagram.com/hojskolendk/" target="_blank">
        <img
          src="../src/assets/images/insta2.webp"
          alt="insta"
          class="rounded-lg transition duration-300 group-hover:opacity-70"
        />
        <div
          class="absolute inset-0 bg-farvenavn-accent opacity-0 transition-opacity duration-300 group-hover:opacity-50 rounded-lg"
        >
        </div>
        <div
          class="absolute bottom-20 left-1/2 transform -translate-x-1/2 text-farvenavn-detailLight font-semibold text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          59
        </div>
      </a>
    </article>
    <article class="group relative">
      <a href="https://www.instagram.com/hojskolendk/" target="_blank">
        <img
          src="../src/assets/images/insta3.webp"
          alt="insta"
          class="rounded-lg transition duration-300 group-hover:opacity-70"
        />
        <div
          class="absolute inset-0 bg-farvenavn-accent opacity-0 transition-opacity duration-300 group-hover:opacity-50 rounded-lg"
        >
        </div>
        <div
          class="absolute bottom-20 left-1/2 transform -translate-x-1/2 text-farvenavn-detailLight font-semibold text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          59
        </div>
      </a>
    </article>
    <article class="group relative">
      <a href="https://www.instagram.com/hojskolendk/" target="_blank">
        <img
          src="../src/assets/images/insta4.webp"
          alt="insta"
          class="rounded-lg transition duration-300 group-hover:opacity-70"
        />
        <div
          class="absolute inset-0 bg-farvenavn-accent opacity-0 transition-opacity duration-300 group-hover:opacity-50 rounded-lg"
        >
        </div>
        <div
          class="absolute bottom-20 left-1/2 transform -translate-x-1/2 text-farvenavn-detailLight font-semibold text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          59
        </div>
      </a>
    </article>
    <article class="group relative">
      <a href="https://www.instagram.com/hojskolendk/" target="_blank">
        <img
          src="../src/assets/images/insta6.webp"
          alt="insta"
          class="rounded-lg transition duration-300 group-hover:opacity-70"
        />
        <div
          class="absolute inset-0 bg-farvenavn-accent opacity-0 transition-opacity duration-300 group-hover:opacity-50 rounded-lg"
        >
        </div>
        <div
          class="absolute bottom-20 left-1/2 transform -translate-x-1/2 text-farvenavn-detailLight font-semibold text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          59
        </div>
      </a>
    </article>
    <article class="group relative">
      <a href="https://www.instagram.com/hojskolendk/" target="_blank">
        <img
          src="../src/assets/images/insta7.webp"
          alt="insta"
          class="rounded-lg transition duration-300 group-hover:opacity-70"
        />
        <div
          class="absolute inset-0 bg-farvenavn-accent opacity-0 transition-opacity duration-300 group-hover:opacity-50 rounded-lg"
        >
        </div>
        <div
          class="absolute bottom-20 left-1/2 transform -translate-x-1/2 text-farvenavn-detailLight font-semibold text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          59
        </div>
      </a>
    </article>
    <article class="group relative">
      <a href="https://www.instagram.com/hojskolendk/" target="_blank">
        <img
          src="../src/assets/images/insta8.webp"
          alt="insta"
          class="rounded-lg transition duration-300 group-hover:opacity-70"
        />
        <div
          class="absolute inset-0 bg-farvenavn-accent opacity-0 transition-opacity duration-300 group-hover:opacity-50 rounded-lg"
        >
        </div>
        <div
          class="absolute bottom-20 left-1/2 transform -translate-x-1/2 text-farvenavn-detailLight font-semibold text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          59
        </div>
      </a>
    </article>
    <article class="group relative">
      <a href="https://www.instagram.com/hojskolendk/" target="_blank">
        <img
          src="../src/assets/images/insta9.webp"
          alt="insta"
          class="rounded-lg transition duration-300 group-hover:opacity-70"
        />
        <div
          class="absolute inset-0 bg-farvenavn-accent opacity-0 transition-opacity duration-300 group-hover:opacity-50 rounded-lg"
        >
        </div>
        <div
          class="absolute bottom-20 left-1/2 transform -translate-x-1/2 text-farvenavn-detailLight font-semibold text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          59
        </div>
      </a>
    </article><article class="group relative">
      <a href="https://www.instagram.com/hojskolendk/" target="_blank">
        <img
          src="../src/assets/images/insta5.webp"
          alt="insta"
          class="rounded-lg transition duration-300 group-hover:opacity-70"
        />
        <div
          class="absolute inset-0 bg-farvenavn-accent opacity-0 transition-opacity duration-300 group-hover:opacity-50 rounded-lg"
        >
        </div>
        <div
          class="absolute bottom-20 left-1/2 transform -translate-x-1/2 text-farvenavn-detailLight font-semibold text-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        >
          59
        </div>
      </a>
    </article>
  </div>
</div>
