---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import "animate.css";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.svg";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body class="bg-farvenavn-primaryLight">
    <div id="customCursor" class="custom-cursor fixed w-16 h-16">
      <Image
        src={logo}
        alt="Custom Cursor"
        class="absolute inset-0 w-full h-full object-cover rounded-full"
      />
    </div>
    <header class="bg-blue-500">
      <Header />
    </header>

    <main class="p-sm">
      <slot />
    </main>

    <footer class="bg-blue-500">
      <Footer />
    </footer>
    <script>
      const customCursor = document.getElementById("customCursor");

      document.addEventListener("mousemove", (e) => {
        const { clientX: x, clientY: y } = e;
        customCursor.style.transform = `translate(${x - 32}px, ${y - 32}px)`;
      });
    </script>
  </body>
</html>

<style>
  body {
    cursor: none;
  }
  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease;
  }
</style>
